<header>

    <a
        href="https://www.wpi.edu/"
        class="logo"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Visit Worcester Polytechnic Institute">

        <img
            src="assets/logos/wpi-logo.png"
            alt="Worcester Polytechnic Institute"
            class="wpi-logo">

    </a>

    <a
        href="index.html"
        class="logo"
        aria-label="WPI Predict Home">

        <img
            src="assets/logos/wpi-predict-logo.png"
            alt="WPI Predict">

    </a>

    <nav aria-label="Primary Navigation">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="workbench.html">Workbench</a></li>
            <li><a href="research.html">Research</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="about.html">About</a></li>
        </ul>
    </nav>

</header>